* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}



.todo {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    min-height: 730px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 20px #f3f3f3;
    border: 1px solid #f4f6f8;
    border-radius: 10px;
    font-size: 14px;

    &__sidebar {
        background-color: #f4f6f8;
        width: 200px;
       // height: calc(100% - 120px);
        border-right: 1px solid #f1f1f1;
        padding: 60px 20px;
    }

    &__tasks {
        flex: 1;
        padding: 60px;
    }
}



.btn {
    background: #4DD599;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    border: 0;
    cursor: pointer;

    &:hover {
        background: darken(#4DD599, 7%)
    }


    &:active {
        background: darken(#4DD599, 10%)
    }
}

.field {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;


    &:focus {
        border-color: #dbdbdb;
    }
}